note/
tools/output/**
!tools/output/
!tools/output/areas/
!tools/output/maps/
!tools/output/.gitkeep
!tools/output/areas/.gitkeep
!tools/output/maps/.gitkeep
recipes/world-map-generation/output/**
!recipes/world-map-generation/output/
!recipes/world-map-generation/output/areas/
!recipes/world-map-generation/output/maps/
!recipes/world-map-generation/output/areas/countries/
!recipes/world-map-generation/output/maps/countries/

recipes/europe-map-generation/output/**
!recipes/europe-map-generation/output/
!recipes/europe-map-generation/output/areas/
!recipes/europe-map-generation/output/maps/
!recipes/europe-map-generation/output/areas/countries/
!recipes/europe-map-generation/output/maps/countries/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
